sudo: false
cache: pip
language: python

branches:
  only:
    - master
    - development

before_install:
  - pip install poetry

install:
  - poetry --version
  - poetry install -vvv --develop=susy_cross_section

stages:
  - test
  - typecheck
#  - linting

script:
  - nosetests -s -d
  - susy-xs list 13TeV
  - susy-xs show 8TeV.gg
  - susy-xs get 13TeV.ss10 1234 567

after_success:
  - coveralls

jobs:
  include:
    - python: "3.7"
    - python: "3.9"

    - stage: typecheck
      python: "3.9"
      script:
        - mypy -p susy_cross_section
#    - stage: linting
#      python: "3.6"
#      script:
#        - flake8 susy_cross_section
